In [255]:
import numpy as np
import pandas as pd
import pandas_bokeh;

In [256]:
# Embedding plots in Jupyter/Colab Notebook
pandas_bokeh.output_notebook()

In [257]:
# for exporting plots as HTML
pandas_bokeh.output_file(filename='dashboard.html',title='Birds Dashboard')

In [258]:
sheet_id = '1dENiPTJtdqOiU9Oiwxen2UU2K4HP1jOR_MyGcjQP81k'
sheet_name = 'registro'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [259]:
df = pd.read_csv(url, usecols=[0,1,2,3,4])
#df = df.replace(np.nan, 0)
#df['Costo($)'] = df['Costo($)'].replace(np.nan, 0)

In [260]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        187 non-null    object
 1   Hora         187 non-null    object
 2   Descripción  187 non-null    object
 3   Cantidad(g)  187 non-null    float64
 4   Costo($)     399 non-null    float64
dtypes: float64(2), object(3)
memory usage: 15.7+ KB

In [261]:

df['Fecha'] = pd.to_datetime(df['Fecha'])
df['Hora'] = pd.to_datetime(df['Hora'])
df['Month'] = df['Fecha'].dt.month

In [262]:
df

         Fecha                Hora Descripción  Cantidad(g)  Costo($)  Month
0   2021-03-01 2021-11-12 09:00:00      Papaya        227.0     385.9    3.0
1   2021-03-01 2021-11-12 09:00:00     Plátano        165.0     379.5    3.0
2   2021-03-02 2021-11-12 09:30:00     Plátano        164.0     377.2    3.0
3   2021-03-03 2021-11-12 08:30:00      Banano        148.0     355.2    3.0
4   2021-03-03 2021-11-12 13:00:00      Banano        124.0     297.6    3.0
..         ...                 ...         ...          ...       ...    ...
394        NaT                 NaT         NaN          NaN       0.0    NaN
395        NaT                 NaT         NaN          NaN       0.0    NaN
396        NaT                 NaT         NaN          NaN       0.0    NaN
397        NaT                 NaT         NaN          NaN       0.0    NaN
398        NaT                 NaT         NaN          NaN       0.0    NaN

[399 rows x 6 columns]

In [318]:
df.stack()

0    Fecha          2021-03-01 00:00:00
     Hora           2021-11-12 09:00:00
     Descripción                 Papaya
     Cantidad(g)                  227.0
     Costo($)                     385.9
                           ...
394  Costo($)                       0.0
395  Costo($)                       0.0
396  Costo($)                       0.0
397  Costo($)                       0.0
398  Costo($)                       0.0
Length: 1334, dtype: object

In [263]:
pivoted = df.pivot(columns='Descripción', values=['Cantidad(g)', 'Costo($)','Month'])
pivoted

            Cantidad(g)                               Costo($)                 \
Descripción         NaN Banano Naranja Papaya Plátano      NaN Banano Naranja
0                   NaN    NaN     NaN  227.0     NaN      NaN    NaN     NaN
1                   NaN    NaN     NaN    NaN   165.0      NaN    NaN     NaN
2                   NaN    NaN     NaN    NaN   164.0      NaN    NaN     NaN
3                   NaN  148.0     NaN    NaN     NaN      NaN  355.2     NaN
4                   NaN  124.0     NaN    NaN     NaN      NaN  297.6     NaN
..                  ...    ...     ...    ...     ...      ...    ...     ...
394                 NaN    NaN     NaN    NaN     NaN      0.0    NaN     NaN
395                 NaN    NaN     NaN    NaN     NaN      0.0    NaN     NaN
396                 NaN    NaN     NaN    NaN     NaN      0.0    NaN     NaN
397                 NaN    NaN     NaN    NaN     NaN      0.0    NaN     NaN
398                 NaN    NaN     NaN    NaN     NaN      0.0    NaN     NaN

                           Month
Descripción Papaya Plátano   NaN Banano Naranja Papaya Plátano
0            385.9     NaN   NaN    NaN     NaN    3.0     NaN
1              NaN   379.5   NaN    NaN     NaN    NaN     3.0
2              NaN   377.2   NaN    NaN     NaN    NaN     3.0
3              NaN     NaN   NaN    3.0     NaN    NaN     NaN
4              NaN     NaN   NaN    3.0     NaN    NaN     NaN
..             ...     ...   ...    ...     ...    ...     ...
394            NaN     NaN   NaN    NaN     NaN    NaN     NaN
395            NaN     NaN   NaN    NaN     NaN    NaN     NaN
396            NaN     NaN   NaN    NaN     NaN    NaN     NaN
397            NaN     NaN   NaN    NaN     NaN    NaN     NaN
398            NaN     NaN   NaN    NaN     NaN    NaN     NaN

[399 rows x 15 columns]

In [264]:
df2 = pivoted.stack()
df2

                 Cantidad(g)  Costo($)  Month
    Descripción
0   Papaya             227.0     385.9    3.0
1   Plátano            165.0     379.5    3.0
2   Plátano            164.0     377.2    3.0
3   Banano             148.0     355.2    3.0
4   Banano             124.0     297.6    3.0
...                      ...       ...    ...
394 NaN                  NaN       0.0    NaN
395 NaN                  NaN       0.0    NaN
396 NaN                  NaN       0.0    NaN
397 NaN                  NaN       0.0    NaN
398 NaN                  NaN       0.0    NaN

[399 rows x 3 columns]

In [283]:
df3 = df2.droplevel(0)
df3

             Cantidad(g)  Costo($)  Month
Descripción
Papaya             227.0     385.9    3.0
Plátano            165.0     379.5    3.0
Plátano            164.0     377.2    3.0
Banano             148.0     355.2    3.0
Banano             124.0     297.6    3.0
...                  ...       ...    ...
NaN                  NaN       0.0    NaN
NaN                  NaN       0.0    NaN
NaN                  NaN       0.0    NaN
NaN                  NaN       0.0    NaN
NaN                  NaN       0.0    NaN

[399 rows x 3 columns]

In [290]:
df3.groupby(['Month','Descripción']).sum()

                   Cantidad(g)  Costo($)
Month Descripción
3.0   Banano            1273.0    3055.2
      Papaya             449.0     763.3
      Plátano           2778.0    6389.4
4.0   Banano             396.0     950.4
      Papaya             117.0     198.9
      Plátano           2682.0    6168.6
5.0   Banano             799.0    1917.6
      Naranja           1097.0    4388.0
      Papaya            1094.0    1859.8
      Plátano           3649.0    8392.7
6.0   Banano            1136.0    2726.4
      Plátano           4544.0   10451.2
7.0   Banano             327.0     784.8
      Plátano           7453.0   17141.9
8.0   Plátano           5563.0   12794.9
9.0   Banano             839.0    2013.6
      Plátano           3615.0    8314.5
10.0  Banano            2465.0    5916.0
      Plátano           6000.0   13800.0
11.0  Plátano           1099.0    2527.7

In [265]:
by_fruit = df.groupby(['Month','Descripción']).sum()
by_fruit

                   Cantidad(g)  Costo($)
Month Descripción
3.0   Banano            1273.0    3055.2
      Papaya             449.0     763.3
      Plátano           2778.0    6389.4
4.0   Banano             396.0     950.4
      Papaya             117.0     198.9
      Plátano           2682.0    6168.6
5.0   Banano             799.0    1917.6
      Naranja           1097.0    4388.0
      Papaya            1094.0    1859.8
      Plátano           3649.0    8392.7
6.0   Banano            1136.0    2726.4
      Plátano           4544.0   10451.2
7.0   Banano             327.0     784.8
      Plátano           7453.0   17141.9
8.0   Plátano           5563.0   12794.9
9.0   Banano             839.0    2013.6
      Plátano           3615.0    8314.5
10.0  Banano            2465.0    5916.0
      Plátano           6000.0   13800.0
11.0  Plátano           1099.0    2527.7

In [331]:
df4 = by_fruit.reset_index()
df5 = df4.drop(['Costo($)'], axis=1)
df5

    Month Descripción  Cantidad(g)
0     3.0      Banano       1273.0
1     3.0      Papaya        449.0
2     3.0     Plátano       2778.0
3     4.0      Banano        396.0
4     4.0      Papaya        117.0
5     4.0     Plátano       2682.0
6     5.0      Banano        799.0
7     5.0     Naranja       1097.0
8     5.0      Papaya       1094.0
9     5.0     Plátano       3649.0
10    6.0      Banano       1136.0
11    6.0     Plátano       4544.0
12    7.0      Banano        327.0
13    7.0     Plátano       7453.0
14    8.0     Plátano       5563.0
15    9.0      Banano        839.0
16    9.0     Plátano       3615.0
17   10.0      Banano       2465.0
18   10.0     Plátano       6000.0
19   11.0     Plátano       1099.0

In [423]:
df6 = df5.pivot(columns='Descripción', index='Month', values='Cantidad(g)')
df6.rename(index={
    1.0:'Jan', 2.0:'Feb', 3.0:'Mar', 4.0:'Apr', 5.0:'May', 6.0:'Jun',
    7.0:'Jun', 8.0:'Ago', 9.0:'Sep', 10.0:'Oct', 11.0:'Nov', 12.0:'Dic'})
df6

TypeError: rename() got an unexpected keyword argument 'values'

In [419]:
df7 = df6.reset_index().replace(np.nan, 0)
df7 = df7.replace({'Month':{1.0:'Jan', 2.0:'Feb', 3.0:'Mar', 4.0:'Apr', 5.0:'May', 6.0:'Jun',
    7.0:'Jun', 8.0:'Ago', 9.0:'Sep', 10.0:'Oct', 11.0:'Nov', 12.0:'Dic'}})
df7

Descripción Month  Banano  Naranja  Papaya  Plátano
0             Mar  1273.0      0.0   449.0   2778.0
1             Apr   396.0      0.0   117.0   2682.0
2             May   799.0   1097.0  1094.0   3649.0
3             Jun  1136.0      0.0     0.0   4544.0
4             Jun   327.0      0.0     0.0   7453.0
5             Ago     0.0      0.0     0.0   5563.0
6             Sep   839.0      0.0     0.0   3615.0
7             Oct  2465.0      0.0     0.0   6000.0
8             Nov     0.0      0.0     0.0   1099.0

In [268]:
by_month = df.groupby(['Month']).sum()
by_month = by_month.rename(index={
    1.0:'Jan', 2.0:'Feb', 3.0:'Mar', 4.0:'Apr', 5.0:'May', 6.0:'Jun',
    7.0:'Jun', 8.0:'Ago', 9.0:'Sep', 10.0:'Oct', 11.0:'Nov', 12.0:'Dic'})
by_month

       Cantidad(g)  Costo($)
Month
Mar         4500.0   10207.9
Apr         3195.0    7317.9
May         6639.0   16558.1
Jun         5680.0   13177.6
Jun         7780.0   17926.7
Ago         5563.0   12794.9
Sep         4454.0   10328.1
Oct         8465.0   19716.0
Nov         1099.0    2527.7

In [269]:
# by_fruit = df.groupby(['Descripción']).sum()
# by_fruit = by_fruit.drop(['Costo($)'], axis=1)
# by_fruit.pivot(columns='Cantidad(g)',values='Descripción')

In [270]:
line_plot= by_month.plot_bokeh(kind="line", y="Cantidad(g)", color='#D01C8B', plot_data_points=True, show_figure=True)

In [271]:
bar_plot = by_month.plot_bokeh(kind="bar", y='Costo($)', color='#33C7FF' ,show_figure=True)

In [422]:
stackedbar_plot = df6.groupby('Month').sum().plot_bokeh(kind='barh', stacked=True,show_figure=True)

In [ ]:
#Make Dashboard with Grid Layout: 
#pandas_bokeh.plot_grid([[line_plot], [bar_plot]], width=400)